body
{
background-colour:#AFEEE;
font-size:10pt;
font-family: verdana;
colour:black;
line-height:14pt;
padding-left:20pt;
padding-right:30pt;
padding-top:35pt;
}
h1
        font:24pt verdana;
        font-weight: bold;
        line-height:20pt;
        color:#6699FF;
}
p.subheader{
        font-weight:bold;
        color:#6699FF;
}
img{
        padding:0pt;
        float:right;
}
p.groove {border-style: groove;
}
a{
        text-decoration:none;
}
a:hover, a:active{
         color:#00CCFF

}
div.footer{
        font-size:9pt;
        font-style:italic;
        line-height:12pt;
}